@model FinanceTracker.Models.RecurringTransaction

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-danger">Delete</h4>
                        <p class="card-description">
                            Budget
                        </p>
                        <div class="template-demo">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Type)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Type)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Amount)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Amount)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Category)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Category.Name)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.RecurrenceType)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.RecurrenceType)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.NextOccurrence)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.NextOccurrence)
                                </dd>
                            </dl>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <button class="btn btn-light"><a asp-action="Index">Back to List</a></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

