@model IEnumerable<FinanceTracker.Models.RecurringTransaction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Striped Table</h4>
                        <p class="card-description">
                            <a asp-action="Create">Create New</a>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> @Html.DisplayNameFor(model => model.Type) </th>
                                        <th> @Html.DisplayNameFor(model => model.Description) </th>
                                        <th> @Html.DisplayNameFor(model => model.Amount) </th>
                                        <th> @Html.DisplayNameFor(model => model.Category) </th>
                                        <th> @Html.DisplayNameFor(model => model.RecurrenceType) </th>
                                        <th> @Html.DisplayNameFor(model => model.NextOccurrence) </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="py-1">
                                                @Html.DisplayFor(modelItem => item.Type)
                                            </td>
                                            <td> @Html.DisplayFor(modelItem => item.Description) </td>

                                            <td> @Html.DisplayFor(modelItem => item.Amount) </td>
                                            
                                            <td> @Html.DisplayFor(modelItem => item.Category) </td>
                                            <td> @Html.DisplayFor(modelItem => item.RecurrenceType) </td>
                                            <td> @Html.DisplayFor(modelItem => item.NextOccurrence) </td>
                                            <td>
                                            <button type="button" class="btn btn-primary btn-sm">
                                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            </button>
                                            <button type="button" class="btn btn-success btn-sm">
                                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm"><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

